[submodule "emotions-multilabel-classification"]
	path = emotions-multilabel-classification
	url = git@github.com:ReedMerrill/emotions-multilabel-classification.git
[submodule "toxicity-data-collection"]
	path = toxicity-data-collection
	url = git@github.com:ReedMerrill/toxicity-data-collection.git
[submodule "back-propogation"]
	path = back-propogation
	url = git@github.com:ReedMerrill/back-propogation.git
